.app {
    .listItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px black solid;
        a {
            padding-right: 20px;
            text-decoration: none;
            color: blue
        }
        p {
            padding-left: 20px;
        }
    }
    .uniqueList {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-height: 400px;
        max-height: 600px;
        max-width: 500px;
        overflow-y: scroll;
        border: 1px black solid;
        
    }
}

